body {
    font-family: "Open Sans", sans-serif;
}
.header-main {
    height: 60px;
    box-shadow: 5px white;
    display: grid;
    grid-template-columns: auto auto auto;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.grid-item-one {
   margin: auto;
   font-size: 1.5rem;
}
.grid-item-two {
    display: flex;
    list-style: none;
    font-size: 1rem;
    color: hsl(209, 34%, 30%);
    margin-top: 14px;
    letter-spacing: 0.25rem;;
}
li {
    margin-right: 20px;
    cursor: pointer;
}

li:hover {
    color: #49a6e9;
    background: transparent;
}

a {
    all: unset;
}
